/* body {
  background-color: var(--basis-color-default-bg-document);
} */

div {
  height: 300px;
  width: 300px;
}

div:nth-of-type(1) {
  background-color: var(--fdnd-color-violet);
  border-radius: var(--basis-border-radius-sm);
}

div:nth-of-type(2) {
  background-color: var(--fdnd-color-cyaan);
  border-radius: var(--basis-border-radius-md);
}

div:nth-of-type(3) {
  background-color: var(--fdnd-color-yelow);
  border-radius: var(--basis-border-radius-lg);
}

div:nth-of-type(4) {
  background-color: var(--fdnd-color-blue);
  border-radius: var(--basis-border-radius-round);
}

h1 {
  font-size: var(--fdnd-fontsize-h1);
  font-family: var(--fdnd-font);
  font-weight: var(--fdnd-fontweight-bold);
}

h2 {
  font-size: var(--fdnd-fontsize-h2);
  font-family: var(--fdnd-font);
}

h3 {
  font-size: var(--fdnd-fontsize-h3);
  font-family: var(--fdnd-font);
}

p {
  font-size: var(--fdnd-fontsize-p);
  font-family: var(--fdnd-font);
}

.test-button {
  font-size: var(--fdnd-fontsize-p);
  font-family: var(--fdnd-font);
  border-radius: var(--fdnd-radius-s);
  background-color: var(--fdnd-color-cyaan);
  height: fit-content;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0.5em;
}

button {
  font-size: var(--basis-text-font-size-md);
  font-family: var(--fdnd-font);
  border-radius: var(--basis-border-radius-md);
  padding: 1em;
}

.default-button {
  background-color: var(--basis-color-default-bg-document);
  color: var(--basis-color-default-color-default);
  border: solid 2px var(--basis-color-default-border-default);
}

.action1-button {
  background-color: var(--basis-color-action-1-bg-document);
  color: var(--basis-color-action-1-color-default);
  border: solid 2px var(--basis-color-action-1-border-default);
}

.action1-inverse-button {
  background-color: var(--basis-color-action-1-inverse-bg-document);
  color: var(--basis-color-action-1-inverse-color-default);
  border: solid 2px var(--basis-color-action-1-inverse-border-default);
}

.action2-button {
  background-color: var(--basis-color-action-2-bg-document);
  color: var(--basis-color-action-2-color-default);
  border: solid 2px var(--basis-color-action-2-border-default);
}

.action2-inverse-button {
  background-color: var(--basis-color-action-2-inverse-bg-document);
  color: var(--basis-color-action-2-inverse-color-default);
  border: solid 2px var(--basis-color-action-2-inverse-border-default);
}

.light-dark-check {
  background-color: var(--basis-color-default-bg-document);
  color: var(--basis-color-default-color-document);

  font-family: var(--fdnd-font);
  padding: 2em;
  height: 200px;
  width: 200px;
  font-size: 24px;
}
